<h1>Log Into Bills App Below!</h1>
<form method="POST" action="/login">
<h2>Username:<input type="text" name="username" placeholder="Username:"</h2>
<h2>Password:<input type="text" name="password" placeholder="Password:"</h2>
<input type="submit" value="submit">
</form>