<h1>Log Into The BillsApp Below!</h1>
<form method="POST" action="/login">
<h3>Username:<input type="text" name="username" placeholder="Username:"</h3>
<h3>Password:<input type="text" name="password" placeholder="Password:"</h3>
<input type="submit" value="submit">
</form>