<h2> Welcome to the Bills App!</h2>

<p><i>Please sign up to start tracking your bills</i></p><br><br>
<form method="POST" action="/signup">
<lable for="username">Username:</label>
<input type="text" name="username" id="username"><br><br>
<label for="password">Password:</label>
<input type="text" name="password" id="password"><br><br><br>
<input type="submit" value=" Sign Up ">
</form><br><br><br><br>

<h4>Already have an account? Log in <a href="/login">here</a>!</h4><br>
<h4><i>Click <a href="/about">here </a>to learn more about this app.</i></h4>