<h2>To add a new bill, fill in the form below</h2>
<p>You can always edit the details later :)</p>
<form method="POST" action="/bills">
<p>Bill Name:</p>
<input type="text" style=”width:200px;" name="bill_name" id="bill_name" placeholder="This is the name you want to give this bill"><br><br>
<p>Remaining Balance:</p>
<input type="decimal" style=”width:200px;" name="remaining_balance" id="remaining_balance" placeholder="This is the total amount you owe for this bill"><br><br>
<p>Amount Due:</p>
<input type="decimal" style=”width:200px;" name="amount_due" id="amount_due" placeholder="This is the miminum payment due"><br><br>
<p>Due Date:</p>
<input type="date" name="due_date" id="due_date" placeholder="This is the date that your minimnum payment is due"><br>
<input type="submit" value="Add Bill">
</form>